@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --orange: #ff6b00;
  --darkGrey: #4b4b4b;
  --color-black: #333333;
  --color-dark: #1e232c;
  --Cornflower-Blue: #8696bb;
  --Woodsmoke: #18191a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
